<% provide(:title, "Edit user") %>
 <div class="text-center">
    <h1>ユーザ情報編集</h1>
 </div>
 <div class="row">
  <div class="col-xs-offset-3 col-xs-6">
   <%= form_for(@user) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "変更する", class: "btn btn-primary" %>
  <% end %>